<h1>Hello my darling</h1>
<%= image_tag "saly_and_floop.jpg", height: 300 %>
<h2>My darling and my son</h2>
<p>I love you both more than I could ever let you know. I adore you both. You are the light of my life.</p>